html {
    box-sizing: border-box;
    font-size: 62.5%; 
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: #c5c5c5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.6rem;
}
p {
    font-size: 1.6rem;
}
/** Globals **/
h1, h2, h3  {
    color: #ffffff;
    margin: 0;
}
h1 {
    font-weight: 900;
    font-size: 6rem;
}
h2 {
    font-weight: 700;
    font-size: 4rem;
}
h3 {
    font-size: 2.8rem;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/** Buttons **/
.btn {
    font-size: 1.8rem;
    padding: 1.4rem 6rem;
    border-radius: .6rem;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color .3s ease-out;
    display: block;
    border:none;
}
.btn-green {
    background-color: #00C897;
}
.btn-green:hover {
    background-color: rgb(10, 155, 119);
}

.btn-blue {
    background-color: #00A4B6;
}
.btn-blue:hover {
    background-color: rgb(3, 133, 148);
}

.btn-yellow {
    background-color: #F6B15F;
}
.btn-red {
    background-color: #C80045;
}

/** Header **/
.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.horizontal-center {
    display: flex;
    justify-content: center;
}

/** Forms **/
.default-form {
    max-width: 800px;
    margin: 4rem  auto 0 auto; 
}
.default-form h3 {
    color: #616065;
    font-size: 2.4rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    
}
.default-form .field {
    margin-bottom: 3rem;
    display: flex;   
}
.default-form label {
    padding-top: 1rem;
    flex: 0 0 18rem;
    font-size: 1.8rem;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}
.default-form input[type="email"],
.default-form input[type="password"],
.default-form input[type="text"],
.default-form input[type="number"],
.default-form input[type="radio"],
.default-form input[type="file"],
.default-form select,
.default-form textarea  {
    flex: 1;
    height: 4.5rem;
    padding: 1rem;
    font-size: 1.8rem;
    border-radius: 1rem;
    border: none;
}

.navbar-styling {
    box-shadow: 2px 4px 8px 6px rgba(0, 0, 0, 0.1);
}

.profile-pic {
    border-radius:50%;  
    width:20rem;
    height:20rem;
}
.profile-svg svg[data-icon="user"] {
    font-size: 20rem !important;
}

/* .image-upload > input {
    display: none;
}
.image-upload svg {
    width: 80px;
    cursor: pointer;
} */

// For Floats 

.da-floatbox {
  display: block;
  box-sizing: border-box;
  margin: 0px -10px;
}

.da-floatbox::after { // same as w3-container?
  clear: both;
  content: '';
  display: block;
}

.da-item { // use with w3-col s12 m6 l4 for responsiveness
  box-sizing: border-box;
//   float: left;
//   width: 100%;
  margin-bottom: 20px;
  padding: 0px 10px;
}

// .da-row::after {
//   content: "";
//   clear: both;
//   display: table;
// }

// .da-item:nth-child(2n + 1) {
//   clear: both;
// }

.da-content {
  box-sizing: border-box;
//   text-align: center;
//   background-color: #3dcf5b;
//   color: #242424;
  border: 1px solid gray;
  height: 100%;
  padding: 10px;

  &.da-content-styling {
      border-radius: 20px;
      border: 2px solid gray;
  }
}

// For images

img {
  max-width: 100%;
  height: auto;
}

// [class*="col-"] {
//   float: left;
//   padding: 15px;
//   border: 1px solid red;
// }

// Utilities

.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card {
    &-1 {
        background-color: #ccc;
        box-shadow: 2px 2px 8px 7px rgba(0, 0, 0, 0.1);
        padding: 10px !important;
        border-radius: 10px;
    }
    &-2 {
        background-color: #ccc;
        padding: 10px !important;
        border-radius: 25px;
    }
}

// Media Queries

@media only screen and (min-width: 0px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

    a{
        text-decoration: none !important;
    }

    .hide-scrollbar {
        overflow-y: scroll; /* Add the ability to scroll */
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        &::-webkit-scrollbar {/* Hide scrollbar for Chrome, Safari and Opera */
            display: none;
        }
    }

    p:empty::before { // keep a paragraph height even when there is no text in it
        content:"";
        display:inline-block !important;
    }

    #my-barbershop-form {
        .services_wrap {
            label {
                display: inline-block;
                width: 150px;
            }   
        }
        button[type='submit'] {
            padding: .25rem .5rem; // .btn-sm
            font-size: .765625rem;
            line-height: 1.5;
            border-radius: .2rem;

            width: 100%;
        }
    }

    #login-form {
        label {
            display: inline-block;
            width: 100px;
        } 
        input {
            width: 100%;
        }
    }

    #register-form {

        label {
            display: inline-block;
            width: 100px;
        } 
        input:not([type='radio']) {
            width: 100%;
        }
        // 
    }
    div.w3-container {
        display: block;// for centering horizontally
        text-align: center;
        margin-top: 40px;
    
        #user_profile_form {
            display: inline-block;// for centering horizontally
            text-align: left;

            label {
                display: inline-block;
                width: 150px;
            } 
            input, img {
                width: 100%;
            }
            #profile_status {
                display: block;
                width: 200px;
            }
            button[type="submit"] {
                margin-top: 16px;
                width: 200px;
                margin-bottom: 10px;
            }
            .submit_label {
                display: none;
            }
            img {
                border-radius: 5px;
                margin: 10px 0 10px 0;
            }
        }
    }

    .da-content-barbershop {
        height: 240px !important;
    }
    .da-content-barber {
        height: 180px !important;
    }
}

@media only screen and (min-width: 600px) {
  /* For tablets: */

    #login-form {
        input {
            width: auto;
        }
    }
    #register-form {
        input {
            width: auto !important;
        }
    }
    #user_profile_form {
        input, p {
            width: auto !important;
        }
        p {
            display: inline-block;
        }
        #profile_status {
            display: inline-block !important;
            // width: auto;
            width: 200px !important;
        }
        button[type="submit"] {
            // margin-left: 150px;
            // width: 100%;
            // max-width: 468px;
        }
        .submit_label {
            display: inline-block !important;
        }
        img {
            max-width: 468px;
            background-color: #666666;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    #my-barbershop-form {
        .card-footer {
            text-align: center;

            button[type='submit'] {
                padding: .5rem 1rem; // .btn-lg
                font-size: 1.25rem;
                line-height: 1.5;
                border-radius: .3rem;

                width: 50%;
            }
        }
    }

    .da-content-barbershop {
        height: 220px !important;
    }
    .da-content-barber {
        height: 160px !important;
    }

  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) { // 993px?
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

// @media only screen and (orientation: landscape) {
// }