<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='shortcut icon' type='image/x-icon' href='/img/logo.ico' />
    {{!-- <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" /> --}}
    {{!--
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css"> --}}
    <link rel="stylesheet" href="/admin-lte/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="/bootswatch/dist/sandstone/bootstrap.min.css" />
    <link rel="stylesheet" href="/normalize.css/normalize.css">
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
    {{!-- <link rel="stylesheet" href="/paginationjs/dist/pagination.css"> --}}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
   <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
    {{!-- <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet-geosearch@3.0.6/dist/geosearch.css"
    /> --}}
    <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet-geosearch@3.3.2/dist/geosearch.css"
    />
   <!-- Make sure you put this AFtER leaflet.js, when using with leaflet -->
    {{!-- <script src="https://unpkg.com/leaflet-geosearch@3.0.6/dist/geosearch.umd.js"></script> --}}
    <script src="https://unpkg.com/leaflet-geosearch@3.3.2/dist/geosearch.umd.js"></script>
    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/map.css">
    <title>{{pageTitle}}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-styling">
        <a class="navbar-brand" href="/home">
            <img src="/img/logo.png" alt="" width="50px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item nav-link">
                    <form id="navbar-search-form" action="/search" method="GET">
                        <div class="input-group">
                            <input type="search" name="query" class="form-control" placeholder="Search for barbershops/barbers" />
                            <button type="submit" class="btn-sm btn-primary">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </form>
                </li>
                {{!-- <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li> --}}
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Welcome, {{{user.username}}}</a>
                </li>
                <li class="nav-item dropdown" class="ml-auto">
                    <a class="nav-link dropdown-toggle" href="/profile" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Settings
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/profile">My Profile</a>
                        <a class="dropdown-item" href="/messages">My Messages</a>
                        {{#ifEquals user.user_type "barber"}}
                        <a class="dropdown-item" href="/my-barbershop">My Barbershop</a>
                        {{/ifEquals}}
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    
        {{!-- <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <p>Welcome {}</p>
                <li class="nav-item dropdown" class="ml-auto">
                    <a class="nav-link dropdown-toggle" href="/profile" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Settings
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">My Profile</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
            </ul>
        </div> --}}
    </nav>
    
    {{{body}}}

    <script src="/jquery/dist/jquery.min.js" charset="utf-8"></script>
    <script src="/popper.js/dist/umd/popper.min.js" charset="utf-8"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>
    {{!--
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js" defer></script> --}}
    <script src="/admin-lte/dist/js/adminlte.min.js"></script>
    <script src="/@fortawesome/fontawesome-free/js/all.min.js"></script>
    {{!-- <script src="/paginationjs/dist/pagination.min.js"></script> --}}
    <script src="/dist/bundle.js"></script>
    <script src="/js/map.js"></script>
</body>

</html>
