<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    {{!--
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css"> --}}
    <link rel="stylesheet" href="/admin-lte/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <title>{{pageTitle}}</title>
</head>

<body>
    {{{body}}}

    <script src="/jquery/dist/jquery.min.js" charset="utf-8"></script>
    <script src="/popper.js/dist/umd/popper.min.js" charset="utf-8"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>
    {{!--
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js" defer></script> --}}
    <script src="/admin-lte/dist/js/adminlte.min.js"></script>
    <script src="/dist/bundle.js"></script>
</body>

</html>