<main class="container">
    <form id="register-form" action="/api/user/signup" method="POST" class="default-form">
        <div class="field">
            <label>Username</label>
            <input type="text" name="username" placeholder="Your Username">
        </div>
        <div class="field">
            <label>E-mail</label>
            <input type="email" name="email" placeholder="Your E-mail">
        </div>
        <div class="field">
            <label>Password</label>
            <input type="password" name="password" placeholder="Your Password">
        </div>
        <div class="field">
            <label>Repeat Password</label>
            <input type="password" name="password_confirmation" placeholder="Confirm Password">
        </div>
        <div class="field">
            <label>User type</label>
            <input type="radio" name="user_type" value="customer"> <label>Customer</label>
            <input type="radio" name="user_type" value="barber"> <label>Barber</label>
        </div>
        <div class="field">
            <a href="/login">Back to Login</a>
        </div>

        <div class="field">
            <input type="submit" value="Create Account" class="btn btn-blue">
        </div>
    </form>
</main>